<div class="p-24">
  <div class="flex gap-20 justify-center flex-wrap">
      @if(products$ | async; as resultObject) {
      @for (item of resultObject.gatos; track item.nombre) {
      <div class="p-2 bg-bgfooter-400 flex flex-col border-2 w-[15%]  rounded-xl shadow-lg hover:shadow-xl duration-300 items-center justify-center">
          <img class="w-[80%] h-[80%] rounded-xl" src="{{item.imagen}}" alt="{{item.nombre}}">
          <p class="text-center font-bold text-xl">{{item.nombre}}</p>
          <p class="text-center font-bold text-xl">{{item.precio}}</p>
            <button (click)="deleteProduct(+item.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Borrar</button>
      </div>
      }
      }
  </div>

</div>